<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appMyHighlight>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<app-user-profile [name]="user.name"
                  [lastname]="user.lastname"
                  [role]="user.role"
                  (logout)="onLogout($event)"
                  >
</app-user-profile>


<p appMyHighlight>
  Valor {{  123.346 | currency:'eur' }}  <br/>
  Valor {{  123.346 | currency:'usd' }}  <br/>
  Valor {{  123.346 | currency }}  <br/>
  Valor {{  -456788.345 | currency:'eur' }}  <br/>
  Valor {{  total | currency:'eur' }}  <br/>
</p>


