<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<app-user-profile [name]="user.name"
                  [lastname]="user.lastname"
                  [role]="user.role"
                  (logout)="onLogout($event)"
                  >
</app-user-profile>


<p appMyHighlight>
  Valor {{  123.346 | currency:'eur' }}  <br/>
  Valor {{  123.346 | currency:'usd' }}  <br/>
  Valor {{  123.346 | currency }}  <br/>
  Valor {{  -456788.345 | currency:'eur' }}  <br/>
  Valor {{  total | currency:'eur' }}  <br/>
</p>

<h3>Places</h3>
<div *ngFor="let place of places">
  <div>
    <span><a [routerLink]="['place/' + place._id ]">{{ place.name }}</a></span>
    <span>{{ place.address }}</span>
  </div>
</div>

<h3>Sponsors</h3>
<div *ngFor="let s of sponsors">
  <span>{{ s.name }}</span>
  <span>{{ s.level }}</span>
</div>

<div *ngIf="error" class="error-zone">
  {{ error }}
</div>

<ul>
  <li>
    <a [routerLink]="['home']">Inicio</a>
  </li>
  <li>
    <a [routerLink]="['about']">Acerca de...</a>    
  </li>
</ul>

<hr/>
<router-outlet></router-outlet>
<hr/>
Lemoncode 2018.